/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('../images/fundo.jfif') no-repeat center center fixed; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}


.menu-centralizado {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.btn-menu {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    .btn-menu:hover {
        background-color: #0056b3;
    }


.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    margin: auto;
}

.user-icon {
    width: 80px;
    margin-bottom: 15px;
}

.input-campo {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.btn-login {
    background-color: #00aaff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

    .btn-login:hover {
        background-color: #0088cc;
    }

.forgot-password {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

    .forgot-password:hover {
        text-decoration: underline;
    }


.footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-left, .footer-right {
    text-align: center;
}

.logo-footer {
    width: 80px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.icon {
    width: 30px;
}

    .icon:hover {
        opacity: 0.8;
    }
